apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: traefik-ingress
  labels:
    {{- include "dawn-treader.labels" . | nindent 4 }}
  annotations:
    kubernetes.io/ingress.class: traefik
    traefik.ingress.kubernetes.io/router.entrypoints: web,websecure
    traefik.ingress.kubernetes.io/redirect-entry-point: websecure
    traefik.ingress.kubernetes.io/redirect-permanent: "true"
spec:
  rules:
  - host: {{ .Values.global.domain }}
    http:
      paths:
      - path: /api
        pathType: Prefix
        backend:
          service:
            name: backend
            port:
              number: 3100
      - path: /
        pathType: Prefix
        backend:
          service:
            name: frontend
            port:
              number: 5173