- name: Create ArgoCD namespace
  tags:
    - argocd
  shell: kubectl create namespace argocd
  ignore_errors: yes

- name: Deploy ArgoCD installation manifests
  tags:
    - argocd
  shell: kubectl apply -n argocd -f https://raw.githubusercontent.com/argoproj/argo-cd/stable/manifests/install.yaml

- name: Wait for ArgoCD pods to be ready
  tags:
    - argocd
  shell: kubectl wait -n argocd --for=condition=Ready pods --all --timeout=300s

- name: Get the ArgoCD ingress file
  tags:
    - argocd
  ansible.builtin.get_url:
    url: https://raw.githubusercontent.com/mrlouf/dawn-treader/develop/argocd/ingress.yaml
    dest: ./ingress.yaml

- name: Get the ArgoCD app manifest
  tags:
    - argocd
  ansible.builtin.get_url:
    url: https://raw.githubusercontent.com/mrlouf/dawn-treader/develop/argocd/app-dev.yaml
    dest: ./app-dev.yaml

- name: Apply ArgoCD ingress configuration
  tags:
    - argocd
  shell: kubectl apply -n argocd -f ./ingress.yaml

- name: Wait for ArgoCD server rollout to complete
  tags:
    - argocd
  shell: kubectl rollout status deployment/argocd-server -n argocd

- name: Wait for ArgoCD server to be available
  tags:
    - argocd
  shell: kubectl wait -n argocd --for=condition=Available deployment argocd-server --timeout=120s

- name: Retrieve ArgoCD initial admin password
  tags:
    - argocd
  shell: |
    ARGOCD_PASSWORD=$(kubectl -n argocd get secret argocd-initial-admin-secret -o jsonpath="{.data.password}" | base64 -d)
    echo $ARGOCD_PASSWORD > /tmp/argocd_initial_admin_password.txt