- name: Create namespace for Dawn Treader application
  shell: kubectl create namespace dawn-treader || echo "Namespace dawn-treader already exists"

- name: Create the secrets for Dawn Treader application
  shell: |
    kubectl create secret generic dawn-treader-secrets \
      --from-literal=jwtSecret="$(openssl rand -hex 32)" \
      --from-literal=jwtRefreshSecret="$(openssl rand -hex 32)" \
      --from-literal=jwtExpiresIn="15minutes" \
      --from-literal=sessionSecret="$(openssl rand -hex 32)" \
      --from-literal=blockchainPrivateKey="$(openssl rand -hex 32)" \
      --from-literal=grafanaPassword="$(openssl rand -hex 32)" \
      --from-literal=adminEmail="ft.transcendence.42.pong@gmail.com" \
      --from-literal=domainName="mrlouf.studio" \
      -n dawn-treader \
      || echo "Secrets already exist"

- name: Deploy the Dawn Treader application via ArgoCD
  shell: kubectl apply -n argocd -f ./argocd/app-dev.yaml