apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx
  labels:
    {{- include "dawn-treader.labels" . | nindent 4 }}
    app.kubernetes.io/component: nginx
spec:
  replicas: {{ .Values.nginx.replicaCount }}
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx
        image: "{{ .Values.nginx.image.repository }}:{{ .Values.nginx.image.tag }}"
        imagePullPolicy: {{ .Values.imagePullPolicy }}
        ports:
        - name: http
          containerPort: 80
          protocol: TCP
        - name: https
          containerPort: 443
          protocol: TCP
        env:
        - name: ADMIN_EMAIL
          valueFrom:
            secretKeyRef:
              name: {{ include "dawn-treader.fullname" . }}-secrets
              key: adminEmail
        volumeMounts:
        - name: public
          mountPath: /usr/share/nginx/html
          readOnly: true
        - name: certs
          mountPath: /etc/letsencrypt
#        livenessProbe:
#          httpGet:
#            path: /
#            port: http
#          initialDelaySeconds: 30
#          periodSeconds: 10
#        readinessProbe:
#          httpGet:
#            path: /
#            port: http
#          initialDelaySeconds: 15
#          periodSeconds: 5
        resources:
          limits:
            memory: "128Mi"
            cpu: "100m"
          requests:
            memory: "64Mi"
            cpu: "50m"
      volumes:
      - name: public
        emptyDir: {}
        #persistentVolumeClaim:
        #  claimName: nginx-public
      - name: certs
        emptyDir: {}
        #persistentVolumeClaim:
        #  claimName: nginx-certs
      restartPolicy: Always
