- name: Ensure dependencies are installed
  tags:
    - installation
  apt:
    name:
      - apt-transport-https
      - ca-certificates
      - curl
      - gnupg
      - lsb-release
    state: present
    update_cache: yes

- name: Add Docker GPG key
  tags:
    - installation
  ansible.builtin.get_url:
    url: https://download.docker.com/linux/debian/gpg
    dest: /etc/apt/keyrings/docker.asc
    mode: '0644'

- name: Add Docker repository
  tags:
    - installation
  ansible.builtin.apt_repository:
    repo: "deb [arch=amd64 signed-by=/etc/apt/keyrings/docker.asc] https://download.docker.com/linux/debian {{ ansible_distribution_release }} stable"
    state: present
    filename: docker
    update_cache: yes

- name: Install Docker and plugins
  tags:
    - installation
  apt:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-buildx-plugin
      - docker-compose-plugin
    state: present

- name: Ensure Docker service is running
  tags:
    - installation
  service:
    name: docker
    state: started
    enabled: yes

- name: Add user to docker group
  tags:
    - installation
  user:
    name: "{{ ansible_user }}"
    groups: docker
    append: yes